name: Deploy as Github Page on fbernutz.github.io

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      
    - uses: actions/cache@v2
      with:
        path: |
          ~/Publish_build
          .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: Setup JohnSundell/Publish
      run: |
        cd ${HOME}
        export PUBLISH_VERSION="0.7.0"
        git clone https://github.com/JohnSundell/Publish.git
        cd ./Publish && git checkout ${PUBLISH_VERSION}
        mv ~/Publish_build .build || true
        swift build -c release
        cp -r .build ~/Publish_build || true
        echo "${HOME}/Publish/.build/release" >> ${GITHUB_PATH}
        
    - name: Deploy Content
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        EXTERNAL_REPOSITORY: fbernutz/fbernutz.github.io
        PUBLISH_DIR: ./Output
      with:
        commitMessage: ${{ github.event.head_commit.message }}
