name: Deploy as Github Page on fbernutz.github.io

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    # - name: Generate Output
    #   run: swift run
    - name: Deploy Content
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        EXTERNAL_REPOSITORY: fbernutz/fbernutz.github.io
        PUBLISH_BRANCH: master
        PUBLISH_DIR: ./Output
      with:
        commitMessage: ${{ github.event.head_commit.message }}
